from ament_index_python.packages import get_package_share_directory

from launch import LaunchDescription
from launch.substitutions import ThisLaunchFileDir
from launch.actions import IncludeLaunchDescription
from launch.launch_description_sources import PythonLaunchDescriptionSource


def generate_launch_description():    
    return LaunchDescription([
        IncludeLaunchDescription(PythonLaunchDescriptionSource(
            [ThisLaunchFileDir(), '/autopilot_manager_sim.launch'])),
        IncludeLaunchDescription(
            PythonLaunchDescriptionSource([get_package_share_directory('ros2bagger'), '/launch/safe_landing_sim.launch'])
        )
    ])
