from launch import LaunchDescription
from launch_ros.actions import Node
from launch.substitutions import ThisLaunchFileDir
from launch.actions import LogInfo, Shutdown, IncludeLaunchDescription
from launch.launch_description_sources import PythonLaunchDescriptionSource
from ament_index_python.packages import get_package_share_directory

custom_action_config = '/shared_container_dir/autopilot-manager/data/custom_action/custom_action.json'
autopilot_manager_config = '/shared_container_dir/autopilot-manager/data/config/autopilot_manager.conf'


def generate_launch_description():
    return LaunchDescription([
        IncludeLaunchDescription(PythonLaunchDescriptionSource(
            [ThisLaunchFileDir(), '/static_tf.launch'])),
        IncludeLaunchDescription(
            PythonLaunchDescriptionSource([get_package_share_directory('ros2bagger'), '/launch/safe_landing.launch'])
        ),
        Node(
            package='autopilot-manager',
            executable='autopilot-manager',
            output='screen',
            arguments=['-a', custom_action_config,
                       '-c', autopilot_manager_config],
            parameters=[{
                'max_search_altitude_m': 8,
                'max_window_size_m': 8,
                'distance_threshold_m': 0.1,
                'neg_peak_tresh': 0.75,
                'pos_peak_tresh': 0.4,
                'std_dev_tresh': 0.2,
                'slope_threshold_deg': 10.0,
                'below_plane_deviation_thresh_m': 0.3,
                'above_plane_deviation_thresh_m': 0.3,
                'std_dev_from_plane_thresh_m': 0.1,
                'percentage_of_valid_samples_in_window': 0.7,
                'voxel_size_m': 0.1
            }],
            on_exit=[LogInfo(msg=["autopilot-manager failed to start. Stopping everything..."]),
                     Shutdown(reason='autopilot-manager failed to start')],
        )
    ])
